.nav-bar {
    display: flex;
    border: 2px solid black ;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .lista {
    display: flex;
    gap: 200px;
    font-size: 1.3rem;

}

.nav-bar .lista li {
    list-style: none;
}
.nav-bar .contenedor-imagen {
    margin-left: 20px;
}